- content_for(:title) do
  Movimientos entre Fechas

- content_for(:controls) do
  = controls do |c|
    - c.item "Balance General", new_general_balance_report_path, :icon => "report_go"
    - c.item "Balance de Sumas y Saldos", new_balance_report_path, :icon => "report_go"

= render 'form'

- if @details.present? && @details.any?
  .block
    %h2= "Resultados"
    .clear
    .block{:style => 'margin:20px;'}= paginate(@details, :method => :post)
    .clear
    %table.table
      %tr
        %th Cuenta
        %th Asiento N°
        %th Fecha
        %th Descripcion
        %th.last Debe
        %th.last Haber
      - @details.each do |detail|
        %tr
          %td= detail.account.name
          %td= "%09.0f" % detail.entry.id
          %td= detail.entry.date_on.to_s(:default)
          %td= detail.description
          %td.last= number_to_currency(detail.debit || 0)
          %td.last= number_to_currency(detail.credit || 0)
    .clear
    .block{:style => 'margin:20px'}= paginate(@details, :method => :post)
    %br
    .clear

.clear

