- content_for(:title) do
  = "Ejercicio #{@exercise.label}"

- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item 'Ejercicios', exercises_path
    - breadcrumb.item select_tag('exercise_id', options_from_collection_for_select(current_company.exercises, :id, :short_label, params[:exercise_id]), :onchange => 'location.href="?exercise_id="+$(this).val();', :title => 'cambio de ejercicio'), entries_path, :active => true
    - breadcrumb.item 'Asientos', entries_path


- if can?(:create, Entry)
  - content_for(:controls) do
    = controls do |control|
      - control.item t('scaffold.actions.new', :item => Entry.model_name.human).titlecase, new_entry_path, :icon => 'add'  

.block
  %h2 Asientos
  - if @entries.any?
    .clear
    .block{:style => 'margin:20px;'}= paginate(@entries)
    .clear
    %table.table
      %tr
        %th= Entry.human_attribute_name('description')
        %th= Entry.human_attribute_name('date_on')
        %th.last Debe
        %th.last Haber
        %th.last Saldo
        %th

      - @entries.each do |entry|
        %tr
          %td= entry.description
          %td= entry.date_on.to_s(:default)
          %td.last= number_to_currency(entry.details.debit)
          %td.last= number_to_currency(entry.details.credit)
          %td.last= number_to_currency(entry.details.balance)
          %td.last
            = link_to icon('application_get', :small, :title => t('scaffold.actions.show').titlecase), entry
            = link_to icon('application_edit', :small, :title => t('scaffold.actions.edit').titlecase), edit_entry_path(entry)
    .clear
    .block{:style => 'margin:20px;'}= paginate(@entries)
    %br
    .clear
.clear

