- content_for(:title) do
  Balance General

- content_for(:controls) do
  = controls do |c|
    - c.item "Balance de Sumas y Saldos", new_balance_report_path, :icon => "report_go"
    - c.item "Movimientos entre Fechas", new_report_date_path, :icon => "report_go"

= render 'form'

- if @accounts.present? && @accounts.any?
  .block
    %h2= "Resultados"
    .clear
    .block{:style => 'margin:20px;'}= paginate(@accounts, :method => :post)
    .clear
    %table.table
      %tr
        %th Cuenta
        %th.last Debe
        %th.last Haber
        %th.last Saldo
      - @accounts.each do |account|
        %tr{:class => cycle('odd', 'even')}
          %td= raw(account.name)
          %td.last{:style => 'text-align:right;'}
            = number_to_currency(account.debit) unless account.debit.zero?
          %td.last{:style => 'text-align:right;'}
            = number_to_currency(account.credit) unless account.credit.zero?
          %td.last{:style => 'text-align:right;'}= number_to_currency(account.debit - account.credit || 0)
    .clear
    .block{:style => 'margin:20px;'}= paginate(@accounts, :method => :post)
    %br
    .clear
.clear

