- content_for(:title) do
  Movimientos por Cuenta

%h2= @account.self_and_ancestors.map(&:name).join(' &raquo; ').html_safe

= render 'form'

- if @details.present? && @details.any?
  .block
    %h2= "Resultados"
    .clear
    .block{:style => 'margin:20px;'}= paginate(@details, :method => :post)
    .clear
    %table.table
      %tr
        %th Fecha
        %th Descripcion
        %th.last Debe
        %th.last Haber
      - @details.each do |detail|
        %tr
          %td= detail.entry.date_on.to_s(:default)
          %td= detail.description
          %td.last= number_to_currency(detail.debit || 0)
          %td.last= number_to_currency(detail.credit || 0)
    .clear
    .block{:style => 'margin:20px'}= paginate(@details, :method => :post)
    %br
    .clear
.clear

