- content_for(:title) do
  %h1= [t('scaffold.actions.show'), OdiseoReport.model_name.human].join(' ')).titlecase

= semantic_attributes_for(@report) do |s|
  = s.attributes(OdiseoReport.human_name + ' Info') do

= link_to t('scaffold.actions.edit').titlecase, edit_odiseo_report_path(@odiseo_report)
\|
= link_to t('scaffold.actions.back').titlecase, odiseo_reports_path

