= semantic_form_for [@company, @exercise] do |f|
  = f.semantic_errors

  = f.inputs do
    = f.input :started_on, :as => :datepicker
    = f.input :finished_on, :as => :datepicker
    = f.input :description
    = f.input :uneven
    = f.input :close unless @exercise.new_record?

  = render('shared/common_form_buttons')

