= div_for(account) do
  = account.name
  = link_to_function(icon('edit'), "edit_account('#{edit_account(account)}')")
  = link_to(icon('delete'), account, :confirm => 'borrar', :method => :delete, :remote => true)
  = link_to_function(icon('add'), "add_account(#{account.id})")

