- content_for(:title) do
  = Account.model_name.human.pluralize.titlecase

- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item "Cuentas", accounts_path
    - breadcrumb.item 'Listado', accounts_path, :active => true

- if @accounts.any?
  %table
    %tr
      %th= Account.human_attribute_name('name')
      %th
      %th
      %th

    - @accounts.each do |account|
      %tr
        %td= account.name
        %td= link_to icon('application_get', :small, :title => t('scaffold.actions.show').titlecase), account
        %td= link_to icon('application_edit', :small, :title => t('scaffold.actions.edit').titlecase), edit_account_path(exercise)
:confirm => t('scaffold.actions.destroy_confirm'), :method => :delete

